.ledCards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.lCard {
    width: 340px;
    /* flex: 1; */

    .tourImg {
        height: 60px;
        width: 60px;
        margin-bottom: 15px;
        background: gray;
        border-radius: 100px;
    }

    .lButton {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        
    }
}

.mHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tinyFaces {
    display: flex;
    gap: 10px;

    .faces {
        height: 50px;
        width: 50px;
        background: rgb(51, 51, 51);
        border-radius: 100px;
        border: 2px solid brown;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        opacity: .6;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .faces:nth-child(2){
        /* background: silver; */
        border: 2px solid grey;

        opacity: .8;
        z-index: 1;
    }
    .faces:nth-child(1){
        /* background: gold; */
        border: 2px solid gold;

        opacity: 1;
        z-index: 2;
    }
}