button {
    padding: 12px 30px;
    font-size: 1rem;
    background: var(--color-main);
    color: var(--color-blue);
    border: none;
    font-weight: 600;
    border-radius: 5px;


    p {
        font-size: 1rem;
        font-weight: 600;

    }
}

.alt {
    background: grey;
    color: white;
    border: var(--set-border);
}

.blue {
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.green {
    border-color: var(--color-main);
    color: var(--color-main);
}

.full {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}