# Ignore node modules and bun dependencies (handled in the Docker image)
node_modules
bun.lockb

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore Vite build cache
.cache
dist

# Ignore Docker-related files and configs
Dockerfile
.dockerignore

# Ignore OS-specific and IDE/editor files
.DS_Store
Thumbs.db
*.log

# Ignore local project files that shouldn't be in Docker
*.md
.vscode
.idea
*.iml

# Ignore test files
__tests__
__mocks__
coverage
*.spec.js
*.spec.ts
*.test.js
*.test.ts

.vscode
config
README.md
.github
.git
