.actionWrap{
    display: flex;
    justify-content: space-between;
}
.rightAction{
    display: flex;
    gap:20px;
}
.fromWrapTour{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    margin-top: -200px;
}

.bttnWrap{
    display: flex;
    justify-content: space-between;
}
.checkP{
    display: flex;
    justify-content: center;

    .pill{
        font-size: .9rem;
        text-transform: capitalize;
    }
}
.proBoxImg{
    height:80px;
    width:80px;
    border-radius: 8px;
    overflow: hidden;

    img{
        width: 100%;
    }
}
.userImage{
    height:100px;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
    background: gray;
}

.pLabel{
    font-size: .9rem;
    opacity: .6;
    letter-spacing: 1px;
    margin-bottom: -5px;
}
.profileContentList{
    margin-top: 20px;
}
.spacWrap{
    display: flex;
    gap: 20px;
    .proInfo{
        flex: 1;
    }
}
.coachAction{
    display: flex;
    gap: 15px;

    .coachActions{
        padding: 8px;
        background: rgba(128, 128, 128, 0.283);
        border-radius: 10px;
    }
}
.coachData{
    position: fixed;
    top: 10dvh;
    left: 40dvw;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    z-index: 100;

    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}